<nav class="navbar navbar-dark bg-dark sticky-top">
    <div class="container">
        <div class="d-flex flex-row justify-content-start align-items-center">
            <a class="navbar-brand" href="#">Currency Calc</a>
            <ul class="navbar-nav mr-auto d-flex flex-row">
                <li class="nav-item">
                    <a routerLink="/currency-table" class="nav-link">Kurs walut</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link disabled">Kalkukator</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link disabled">Wycena złota</a>
                </li>
            </ul>
        </div>
    </div>
</nav>