table td, table th {
    color: #fff;
    &:not(:first-of-type) {
        text-align: center;
    }
}
table th {
    font-weight: 600;
}
.table tbody tr {
    transition: .3s;
    &:hover {
        background-color: darken(rgb(47, 79, 144), 15%);
    }
    &:nth-of-type(even) {
        background-color: darken(rgb(47, 79, 144), 5%);
        &:hover {
            background-color: darken(rgb(47, 79, 144), 15%);
        }
    }
}